.botao {
    background: #231943;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding:  20px 32px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.botao:hover {
    color: #8e6cfc;
    background-color: #472e99;
}