body {
  font-family: Arial, Helvetica, sans-serif;
}

.times {
  text-align: center;
}

h1 {
  font-size: 40px;
  color: white;
  border-bottom: 4px solid white;
  display: inline-block;
  padding-bottom: 24px;
  margin: 32px 0;
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
}